<div class="form-container">
    <fieldset>
        <legend>
            <b><%= @vle_document.user.name %></b>
        </legend>
         <div>
            <label>
                <b>Agreement Paper:</b>
            </label>
            <%=h @vle_document.agreement_paper %>
        </div>
        <hr/>

        <div>
            <label>
                <b>Name:</b>
            </label>
            <%=h @vle_document.user.name %>
        </div>
        <hr/>
                   <div>
            <label>
                <b>Address Proof:</b>
            </label>
            <%=h @vle_document.address_proof %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Education Proof:</b>
            </label>
            <%=h @vle_document.education_proof %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Photograph Proof:</b>
            </label>
            <%=h @vle_document.photograph_proof %>
        </div>
        <hr/>
         <div>
            <label>
                <b>DD Number:</b>
            </label>
            <%=h @vle_document.dd_number %>
        </div>
        <hr/>
        <div>
            <label>
                <b>DD Date:</b>
            </label>
            <%=h @vle_document.dd_date %>
        </div>
        <hr/>
        <div>
            <label>
                <b>DD Bank Name:</b>
            </label>
            <%=h @vle_document.dd_bank_name %>
        </div>
        <hr/>
        <div>
            <label>
                <b>DD Branch Name:</b>
            </label>
            <%=h @vle_document.dd_branch_name %>
        </div>
        <hr/>
        <div>
            <label>
                <b>DD Amount</b>
            </label>
            <%=h @vle_document.dd_amount %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Created by:</b>
            </label>
            <%= User.find(@vle_document.created_by).name %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Created At:</b>
            </label>
            <%= @vle_document.created_at.strftime('%d-%m-%Y %H:%M:%S') %>
        </div>
    </fieldset>
</div>
<div class="bottom_links">
    <a href="/admin/vle_documents" class="more">&larr; All VLE Documents</a>
    &nbsp;&nbsp;
    <%= link_to edit_admin_vle_document_path(@vle_document),:class=>'more' do %>
    Edit &uarr;
    <% end %>
    &nbsp;&nbsp;
    <%=link_to new_admin_vle_document_path,:class=>'more' do %>
    Create New VLE Document &rarr;
    <% end %>
</div>

