<%content_tag_for(:tr,insurance) do -%>
<td><%=h link_to(insurance.policy_number,insurance_path(insurance))%></td>
<td><%=h insurance.name  %></td>
<td><%=h insurance.company_name  %></td>
<td><%=h insurance.policy_name  %></td>
<td><%=h insurance.premium.name %></td>
<td><%=h insurance.amount %></td>
<td><%=h insurance.pre_amount %></td>
<td><%=h insurance.date.strftime("%d-%m-%Y") %></td>

 <td>
<!--  <%= link_to 'Edit', edit_insurance_path(insurance) %> |
 <%= link_to 'Destroy', insurance, :confirm => 'Are you sure?', :method => :delete %> | -->
    <%= link_to 'View', insurance %>
</td>
<% end %>

