<div class="form-container">
<fieldset>
<legend><b><%=@insurance.name %></b></legend>

<div>
   <label><b> Name  Of Holder:</b></label>
  <%=h @insurance.name %>
</div>
<hr/>
 
<div>
   <label><b>Policy Number:</b></label>
 <%=h @insurance.policy_number %>
</div>
<hr/>
<div>
   <label><b>Policy Name:</b></label>
 <%=h @insurance.policy_name %>
</div>
<hr/>
<div>
   <label><b>Company Name:</b></label>
 <%=h @insurance.company_name %>
</div>
<hr/>
<div>
   <label><b>Premium Type:</b></label>
 <%=h @insurance.premium.name %>
</div>
<hr/>
<div>
   <label><b>Amount:</b></label>
 <%=h @insurance.amount %>
</div>
<hr/>
<div>
   <label><b>Remarks:</b></label>
 <%=h @insurance.remarks %>
</div>
<hr/>
<%=link_to new_insurance_path,:class=>'more' do %>
Create New Insurance Account &rarr;
<% end %>
</div>



