<div class="form-container">
<fieldset>
<legend><b><%= @insurance.policy_number %></b></legend>
<div>
   <label><b>Application/Reference Number:</b></label>
 <%=h @insurance.policy_number %>
</div>
<hr>
<div>
   <label><b> Name  Of Holder:</b></label>
  <%=h @insurance.name %>
</div>
<hr/>
<div>
   <label><b>Policy Name:</b></label>
 <%=h @insurance.policy_name %>
</div>
<hr/>
<div>
   <label><b>Company Name:</b></label>
 <%=h @insurance.company_name %>
</div>
<hr/>
<div>
   <label><b>Premium Type:</b></label>
 <%=h @insurance.premium.name %>
</div>
<hr/>
<div>
   <label><b>Insured Amount:</b></label>
 <%=h @insurance.amount %>
</div>
<hr/>
<div>
   <label><b>Tenure:</b></label>
 <%=h @insurance.no_of_years %>
</div>
<hr/>
<div>
   <label><b>Initial Premium:</b></label>
 <%=h @insurance.pre_amount %>
</div>
<hr/>
<div>
   <label><b>Remarks:</b></label>
 <%=h @insurance.remarks %>
</div>
</div>
<div class="bottom_links">
    <a href="/insurances" class="more">All Insurance Accounts</a>
    &nbsp;&nbsp;
    <%=link_to new_insurance_path,:class=>'more' do %>
    Create New Insurane Account
    <% end %>
    &nbsp;&nbsp;
    <%= link_to 'Print Receipt', {:controller=>'insurances', :action=>'printreceipt', :id=>params[:id]}, :class=>'more' %>    
</div>




