<div class="form-container">
<fieldset>
<legend><b><%=@insurance_transaction.policy_number %></b></legend>
<div>
   <label><b>Policy Number:</b></label>
 <%=h @insurance_transaction.policy_number %>
</div>
<hr/>
<div>
   <label><b>Company:</b></label>
 <%=h @insurance_transaction.company %>
</div>
<hr/>
<div>
   <label><b>Policy Name:</b></label>
 <%=h @insurance_transaction.policy_name %>
</div>
<hr/>
<div>
   <label><b>Premium Amount:</b></label>
 <%=h @insurance_transaction.premium_amount %>
</div>
<hr/>
<div>
   <label><b>Remarks:</b></label>
 <%=h @insurance_transaction.remarks %>
</div>
<hr/>
</div>

<div class="bottom_links">
    <a href="/insurance_transactions" class="more">All Insurance Transactions</a>
    &nbsp;&nbsp;
    <%=link_to new_insurance_transaction_path,:class=>'more' do %>
    Create New Insurane Transaction
    <% end %>
        &nbsp;&nbsp;
    <%= link_to 'Print Receipt', {:controller=>'insurance_transactions', :action=>'printreceipt', :id=>params[:id]}, :class=>'more' %>    

</div>

