<div id="vle_representative_list" class="list">
    <%if @vle_users.blank? %>
    <div class="empty">There are no VLE Representatives yet..!</div>
    <%else %>
    <table width="100%">
        <tr>
            <td align="left">
                <h3 align="left"><%=@table_heading ||= 'List of  VLE Representatives' %></h3>
            </td>
            <td align="right">
                <b><i>per page</i></b>
                    <%=per_page %> | | <%= page_entries_info @vle_users %>
            </td>
        </tr>
    </table>
    <table class="tablesorter" cellspacing="1">
        <thead>
            <tr>

                <th>
               <%= sortable 'name' %>
                </th>
                <th>
               <%= sortable 'email' %>
                </th>
                <th>
              		State
                </th>
                <th>
               <%= sortable 'Zone' %>
                </th>

                <th>
                    <%= sortable 'District' %>
                </th>
                <th>
                   <%= sortable 'Block' %>
                </th>
                <th>
                 <%= sortable 'address' %>
                </th>
                <th>
                  <%= sortable 'pincode' %>
                </th> 
                <th>
                 <%= sortable 'phone_number' %>
                </th> 
                <th>
               <%= sortable 'Panchyat' %>
                </th> 
                
                <th>
                Status
                </th>
  
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <%=render :partial=>'vle_user',:object=>@vle_users %>
    </table>
     <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
     <%= will_paginate @vle_users %>
    <% end %>
</div>

