<div id="user_list" class="list">
<%if @users.blank?%>
<b><i> There are No Users yet..!</i></b> 
<%else%>
<table width="100%">
	<tr><td align="left"><h3 align="left"><%=@table_heading ||= 'Listing Users'%></h3></td>
	   
	</tr>
</table>
<table class="tablesorter" cellspacing="1">
	<thead>
	<tr>
		<th><%= sortable "name" %></th>		
		<th><%= sortable "Email"%></th>	
		<th class="{sorter: false}">&nbsp;</th>
	</tr>
	</thead>
	<%  for user in @users %>
	<tr>
  <td> <%= link_to h(user.name), admin_user_path(user) %></td>
 <td><%=h user.email %></td>
 <td><%=link_to "Reset Password",:action=>'reset_password',:id=>user.id %></td>
</tr>
<% end %>
 <% end %>
</table>
</div>




