<h1 align="center"> CSCONE </h1>
<hr>
<h2 align="center">Insurance Report</h2>
<br>
<table class="tablesorter" cellspacing="1">
	<thead>
	<tr>
	        <th>Name</th>		
		<th>Email</th>	
                <th>Zone</th>
                <th>District </th>
                <th>Block </th>
		<th>Total Insurances </th>	
		<th>Amount</th>
	</tr>
	</thead>
    <% for insurance in @insurances %>
  <tr>
  <td><%=h insurance.user.name%></td>
  <td><%=h insurance.user.email%></td>
  <td><%=h insurance.user.vle_representative_profile.bidding_zone.name%></td>
  <td><%=h insurance.user.vle_representative_profile.district.name%></td>
  <td><%=h insurance.user.vle_representative_profile.csc_block.name%></td>
  <td><%=h insurance.records %></td>
  <td><%=h insurance.records * 5 %></td>
  
</tr>
<% end %>
</table>





