<div class="form-container">
    <%= form_for(@user,:url=>{:action=>'update_profile',:id=>current_user.id},:html=>{:class=>'cmxform'}) do |f| %>
   
    <p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (<em>*</em>)
    </p>
    <fieldset>
        <legend>
            <%= @user.name %>
        </legend>
        <%= f.error_messages %>
        <div>
            <label for="name">
                Name<em>*</em>
            </label>
            <%= f.text_field :name %>
        </div>
        <div>
            <label for="email">
                Email <em>*</em>
            </label>
            <%= f.text_field :email, :readonly =>"readonly" %>
        </div>
        <div>
            <label for="password">
                Password <em>*</em>
            </label>
            <%= f.password_field :password %>
        </div>
        <div>
            <label for="password_confirmation">
                Password Confirmation
            </label>
            <%= f.password_field :password_confirmation %>
        </div>
        <div>
            <label for="phone_number">
                Mobile Number
            </label>
            <%= f.text_field :phone_number %>
        </div>
          <%= f.fields_for :vle_representative_profile do |profile| %>
        
        <div>
            <label for="father_name">
                Father Name<em>*</em>
            </label>
            <%= profile.text_field :father_name %>
        </div>
        <div>
            <label for="address">
                Address<em>*</em>
            </label>
            <%= profile.text_field :address %>
        </div>
        <div>
            <label for="pincode">
                Pincode<em>*</em>
            </label>
            <%= profile.text_field :pincode %>
        </div>
        <div>
            <label for="date_of_birth ">
                Date Of Birth <em>*</em>
            </label>
            <%= profile.date_select:date_of_birth,:start_year => 1940 %>
        </div>
        <div>
            <label for="csc_panchyath ">
                CSC Panchyath <em>*</em>
            </label>
            <%= profile.text_field :csc_panchayat %>
        </div>
       
        <% end %>
        <div class="buttonrow">
            <%= f.submit "Edit" ,:class=>'button' %>
        </div>
    </fieldset>
    <% end %>

