<div class="form-container">
<fieldset>
<legend><b><%=@banking.account_number %></b></legend>

<div>
   <label><b>Name Of Holder:</b></label>
  <%=h @banking.name_of_holder %>
</div>
<hr/>
<div>
   <label><b>Bank Name:</b></label>
  <%=h @banking.bank_name %>
</div>
<hr/>
 
<div>
   <label><b>Account Number:</b></label>
 <%=h @banking.account_number %>
</div>
<hr/>
<div>
   <label><b>Account Type:</b></label>
 <%=h @banking.account_type.name %>
</div>
<hr/>
<div>
   <label><b>Father Name:</b></label>
 <%=h @banking.father_name %>
</div>
<hr/>
<div>
   <label><b>Address:</b></label>
 <%=h @banking.address %>
</div>
<hr/>
</div>
<div class="bottom_links">
    <a href="/bankings" class="more">All Bank Accounts</a>
    &nbsp;&nbsp;
    <%=link_to new_banking_path,:class=>'more' do %>
    Create New Bank Account
    <% end %>
</div>


