<%content_tag_for(:tr,bidding_zone) do -%>
<td>
    <%=link_to(highlight(bidding_zone.name,params[:search]),admin_bidding_zone_path(bidding_zone)) %>
</td>
<td>
<%=h bidding_zone.state.name %>
</td>

<td>
    <%=h bidding_zone.description %>
</td>
<td>
    <%=h @created_name %>
</td>
<td>
    <%=h bidding_zone.created_at.strftime('%d-%m-%Y') %>
</td>
<td>
    <%= link_to 'Edit', edit_admin_bidding_zone_path(bidding_zone) %> |
    <%= link_to 'Delete', [:admin,bidding_zone], :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to 'View', [:admin,bidding_zone] %>
</td>
<% end %>

