<div class="form-container">
    <% form_for([:admin,@district],:html=>{:class=>'cmxform'}) do |f| %>
    <p class="legend">
    <strong>Note:</strong>
     Required fields are marked with an asterisk (<em>*</em>)
    </p>
    <fieldset>
        <legend>
            <%= heading %>

        </legend>
        <%= f.error_messages %>
        <div>
            <label for="name">
                Name <em>*</em>
            </label>
            <%= f.text_field :name %>
        </div>
        <div>
           <label "state_id">
             State Name
            </label>
             <%= f.collection_select :state_id, State.order('name'), :id, :name ,{:prompt=>'Select State'},{ :onchange=>"#{remote_function(:url=>{:action=>'load_bidding_zones'},:with =>"'id='+value")}" }%>
       </div>
       <div>
            <label for=" bidding_zone_id" >
            Bidding Zone Name</label>
           <%= f.collection_select :bidding_zone_id, {},:id, :name,{:prompt =>'Select Bidding Zone'} %>
      </div>
      <div>
            <label for="description ">
                Description <em>*</em>
            </label>
            <%= f.text_area :description ,:cols=>28,:rows=>5 %>
      </div>
      <div class="buttonrow">
            <%= f.submit button_name ,:class=>'button' %>
      </div>
  </fieldset>
    <% end %>
</div>

