<%content_tag_for(:tr,transaction) do -%>
<td><%= link_to  transaction.account_number, transaction%></td>
<td><%=h transaction.bank_name %></td>
<td><%=h transaction.mode_of_transaction%></td>
<td><%=h transaction.amount%></td>
<td><%=h transaction.date.strftime("%d-%m-%Y")%></td>

<td>
<!--  <%= link_to 'Edit', edit_transaction_path(transaction) %> | -->
<!-- <%= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete %> | -->
    <%= link_to 'View', transaction %>
</td>
<% end %>

