<div class="form-container">
<fieldset>
<legend><b><%=@transaction.account_number %></b></legend>
<div>
   <label><b>Bank Name:</b></label>
  <%=h @transaction.bank_name %>
</div>
<hr/>
 
<div>
   <label><b>Account Number:</b></label>
 <%=h @transaction.account_number %>
</div>
<hr/>
<div>
   <label><b>Mode Of Transaction:</b></label>
 <%=h @transaction.mode_of_transaction %>
</div>
<hr/>

<div>
   <label><b>Amount:</b></label>
 <%=h @transaction.amount %>
</div>
<hr/>
</div>
<div class="bottom_links">
    <a href="/transactions" class="more">All Bank Transactions</a>
    &nbsp;&nbsp;
    <%=link_to new_transaction_path,:class=>'more' do %>
    Create New Bank Transaction
    <% end %>
</div>


